@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 15px;
    background-color: #C5FFE2;
    border-bottom: 1px solid #77FFBB;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    height: 100vh;
}

body {
    background: radial-gradient(circle at center, #0eccf1, #8fffa2);
}

.login-container .login-box {
    display: flex;
    background-color: #ddf4ff;
    border: 1px rgb(158, 158, 158) solid;
    height: 500px;
    width: 400px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.login-container .login-box form {
    display: flex;
    flex-direction: column;
}

.login-container .login-box form .input {
    background-color: #ddf4ff;
    border: none;
    height: 40px;
    padding: 0 10px;
    margin: 4px 0;
    border-bottom: solid rgb(83, 83, 83) 1px;
}

.login-container .login-box form .input:focus {
    outline: none;
}

.login-container .login-box form .submit {
    border: none;
    background-color: #ddf4ff;
    margin: 50px 50px;
    border-radius: 10px;
    padding: 10px 0;
    color: rgb(97, 97, 97);
    border: 1px solid black;
    cursor: pointer;
}