form{
    border: black solid 5px;
    width: 500px;
    margin: auto;
    text-align: left;
}
.button{
    padding: 10px;
    margin-left: 25%;
    margin-top: 2%;
    width: 50%;
    background-color: #0077C8;
    color: #F2F2F2;
    border: none;
}
.button:hover{
    transition: all 0.4s ease 0s;
    border: solid black 3px;
}
.input{
    margin: 10px;
    text-align: left;
}
